<div class="container">
        <div class="row content">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                          <img  height="300px" width="300px" src="../../../assets/img/profesorado.png" >
                        </div>
                        <div class="card-action">
                            <p class="center-align" ><a href="#" class="center-align">Registrar Docente</a></p>
                        </div>
                      </div>
                </div>
                <div class="col s4">
                  <div class="card">
                    <div class="card-image">
                      <img  height="300px" width="300px" src="../../../assets/img/estudiante.png">
                    </div>
                    <div class="card-action">
                        <p class="center-align" ><a href="#" class="center-align">Registrar Estudiante</a></p>
                    </div>
                  </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                          <img  height="300px" width="300px" src="../../../assets/img/login.png">
                        </div>
                        <div class="card-action">
                            <p class="center-align" ><a href="#" class="center-align">Iniciar Sesión</a></p>
                        </div>
                      </div>
                </div>
              </div>
</div>