
    <div class="container">
        <div class="card">
          <h3 class="center-align title">Registro de Docente</h3>
          <div class="card-content">
            <div class="row">
                    <form class="col s12" #teacherForm="ngForm" (ngSubmit)="addTeacher(teacherForm)">
                        <input type="text" hidden name="role" value="teacher" #role="ngModel" [(ngModel)]="teacherService.teacher.role" >
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Ingrese Número de Cédula" required #dni="ngModel" [(ngModel)]="teacherService.teacher.dni" id="dni" type="text" name="dni" class="validate">
                          <label for="dni">Cédula</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Ingrese Nombres y Apellidos" #name="ngModel" [(ngModel)]="teacherService.teacher.name" id="name" type="text" name="name" class="validate">
                          <label for="name">Nombres y Apellidos</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <select name="gender" #gender="ngModel" [(ngModel)]="teacherService.teacher.gender">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select>
                          <label>Seleccione Género</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input type="text" name="birthday" #birthday="ngModel" [(ngModel)]="teacherService.teacher.birthday" class="datepicker">
                          <label for="name">Fecha de Nacimiento</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="institutional_mail" #institutional_mail ="ngModel" [(ngModel)]="teacherService.teacher.institutional_mail" placeholder="Ingrese su Correo Institucional" type="email" name="institutional_mail" class="validate">
                          <label for="email">Correo Institucional</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="personal_mail" type="email" #personal_mail ="ngModel" [(ngModel)]="teacherService.teacher.personal_mail" placeholder="Ingrese su Correo Personal" name="personal_mail" class="validate">
                          <label for="email">Correo Personal</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="address" type="text" name="address"  #address="ngModel" [(ngModel)]="teacherService.teacher.address" placeholder="Ingrese su dirección" class="validate">
                          <label for="address">Dirección</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="phone" type="text" name="phone"  #phone="ngModel" [(ngModel)]="teacherService.teacher.phone" placeholder="Ingrese su telefono" class="validate">
                          <label for="phone">Telefono</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="university_degree" type="text" #university_degree="ngModel" [(ngModel)]="teacherService.teacher.university_degree" name="university_degree" placeholder="Ingrese su Título Universitario" class="validate">
                          <label for="university_degree">Título Universitario</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="fourth_level_degree" type="text" #fourth_level_degree="ngModel" [(ngModel)]="teacherService.teacher.fourth_level_degree" name="fourth_level_degree" placeholder="Ingrese su Título Cuarto Nivel" class="validate">
                          <label for="university_degree">Título Cuarto Nivel</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="timetable" type="text" #timetable="ngModel" [(ngModel)]="teacherService.teacher.timetable" name="timetable" placeholder="Ingrese su horario de Atención" class="validate">
                          <label for="university_degree">Horario de Atención</label>
                        </div>
                      </div>
                      <div class="card-action">
                        <div class="input-field col-s12 center-align">
                          <button class="btn  blue lighten-1">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
          </div>
        </div>
        </div>
